.main-servicesPrice {
    padding-left: 0px;
    padding-right: 0px;
}

.reviews-section-1 {
    background: linear-gradient(90deg, #E8FAFA 0%, #DCF2E8 100%);
    padding-bottom: 24px;

    .reviews-section-1-body {
        margin: auto;
        max-width: 1152px;
        padding-top: 57px;
        padding-left: 20px;
        padding-right: 20px;

        .reviews-link-container {
            .reviews-link-container-active {
                color: #797C80;
                font-family: 'Manrope';
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                margin-right: 4px;
            }

            .reviews-link-container-gray {
                color: #BFBFBF;
                font-family: 'Manrope';
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                margin-left: 2px;
            }
        }

        .reviews-title {
            color: #292D33;
            font-family: 'Manrope';
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 56px;
            margin-top: 5px;
            letter-spacing: -0.1px;
        }

        .link-btns-con {
            margin-top: 46px;
            width: 400px;
            height: 48px;
            border-radius: 20px;
            background: #F7F7F7;
            box-shadow: 0px 0px 3px 0px rgba(13, 61, 46, 0.40) inset;
            padding: 4px;
            display: flex;
            justify-content: space-between;

            a {
                color: #FFF;
                text-align: center;
                font-family: 'Manrope';
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                padding: 7px 20px 9px;
                border-radius: 16px;
                color:  #797C80;
            }

            .active-link-btn{
                color: #FFF;
                background:  #1DC3B0;
            }
        }

        @media (max-width: 768px) {
            .reviews-title {
                font-size: 32px;
                line-height: 35px;
            }
        }
    }

}

.reviews-section-2 {
    background: #F5FBFC;

    .reviews-section-2-body {
        margin: auto;
        max-width: 1152px;
        padding-top: 64px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 97px;

        .reviews-section-2-top {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .title-vidguk {
                color: #292D33;
                font-family: 'Manrope';
                font-size: 26px;
                font-style: normal;
                font-weight: 400;
                line-height: 36px;
                margin-top: 3px;
                margin-bottom: 10px;
            }

            .vidguk-btn {
                border: none;
                width: 174px;
                height: 48px;
                background-color: #1DC3B0;
                color: #FFF;
                text-align: center;
                font-family: 'Manrope';
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                border-radius: 16px;
            }
        }

        .reviews-section-2-bot {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 40px;
    
            .vidguk-card {
                border-radius: 16px;
                background: #FFF;
                padding: 27px 32px 40px;
                box-shadow: 0px 4px 20px 0px rgba(26, 57, 63, 0.10);
    
                .vidguk-title {
                    color: #292D33;
                    font-family: 'Manrope';
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 24px;
                }
    
                .vidguk-text {
                    color: #292D33;
                    font-family: 'Manrope';
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px;
                    margin-top: 16px
                }
    
                .bottom-section {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 16px;
    
                    .vidguk-date {
                        color: #797C80;
                        font-family: 'Manrope';
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;
                    }
    
                    .readFull {
                        color: #1DC3B0;
                        font-family: 'Manrope';
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 24px;
    
                        svg {
                            margin-left: 3px;
                        }
                    }
                }
    
    
            }
    
            .card1 {
                max-width: 728px;
            }
    
            .card2 {
                max-width: 344px;
                margin-left: 20px;
            }

            .card3{
                max-width: 344px;
            }
    
            @media (max-width: 1148px) {
                .vidguk-card {
                    max-width: 1200px;
                }
    
                .card2 {
                    margin-top: 20px;
                    margin-left: 0px;
                }
            }
    
        }
    }


}

.someEmploye-vidguk-active {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #192224;
    top: 0;
    left: 0;
    display: none;
    padding-top: 104px;


    .vidguk-con {
        margin: auto;
        background-color: #fff;
        max-width: 1212px;
        padding: 88px 144px;
        position: relative;

        .author {
            color: #292D33;
            font-family: 'Manrope';
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            margin-bottom: 28px;
        }

        .comment {
            color:  #292D33;
            font-family: 'Manrope';
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
        }

        .zakryt{
            position: absolute;
            top: 32px;
            right: 32px;
            background: rgba(34, 34, 34, 0);
            border: none;

            
            &:hover {
                cursor: pointer;
            }
        }

    }

    @media (max-width: 1230px) {
        padding: 30px 10px;
        height: max-content;

        .vidguk-con{
            padding: 40px 20px;
        }
    }
}