@import"../scss/fonts";
@import"../scss/wrapper";
<<<<<<< HEAD
@import"../scss/servicesStyle";
@import"../scss/serviceSomeStyle";
=======
@import"../scss/header";
@import"../scss/aside";


section {
    height: 100vh;


    .container {
        max-width: 1920px;
        margin: 0 auto;
        width: 100%;
    }

    img {
        width: 100%;

    }
}
>>>>>>> 4222bd22705b4c61f9b2e2a11054c7b92d8f8a4f
